*{
    margin:0;
    padding: 0;
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: cornflowerblue;
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

li{
    margin-right: 15px;
}

a{
    color: cornsilk;
}

img{
    width: 100vw;
    height: 80vh;
}